.nav-s {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; 
  height: 100%;
  background-color: #f0f0f0; 
  padding: 15px;
}
.NavBar-I{
  margin-left: 0px;
    width: 15px;
    height: 20px;
    margin-right: 0px;
    margin-top: 50px;
}
.nav-a {
  font-family: Bellefair-Regular;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.First-l{
  position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    height: 140px;
}
.Home-dot{
  position: absolute;
    bottom: 35%;
    left: 76%;
    transform: translateX(-50%);
}
.Home-point{
  width: 25px;
    height: 25px;
    background-color: #ffa705;
    border-radius: 100%;
    transform: scale(1);
    box-shadow: 0 0 rgba(255, 255, 255, 1);
}

.Inner-point{
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 100%;
  display: block;
}





.First-h1{
  position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
    font-family: Newtext-reg;
    font-size: 250px;
    font-weight: 400;
    text-align: center;
    text-shadow: 4px -4px 36px #000;
    color: #fff 
}
.First-h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Newtext-reg;
  font-weight: 400;
  text-align: center;
  text-shadow: 4px -4px 36px #000;
  color: #fff;
  letter-spacing: 18px;
  bottom: 20px;
  font-size: 86px;
  margin-bottom: 0; 
}

.First-a{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.Second-i{
  width: 348px;
  height: 480px;
  margin-bottom: 10px;
}
.Second-h1{
  font-family: 'Bellefair-Regular';
        color: #ffa705;
        font-weight: 300;
        padding-top: 1em;
        font-size: 50px;
}

.dot-line{
  border-top: 1px dashed #999;
    width: 20%;
    margin: 32px auto ;
}
.Second-p{
  font-family: 'FtraBk';
    font-size: 16px;
    padding: 0 6em;
    color: #7a7a7a;
}

.Second-h2{
  font-family: 'FtraBk';
  font-size: 19px;
  font-weight: 300;
  color: #ffa705;
}

.Third-bg{
  background-color: #f7f7f7;;
}
.Forth-h{
  font-family: Bellefair-Regular;
  color: #ffa705;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 400;  
}
.card-body{
  height: 250px;
  width: 219.75px;
}
.About-i{
  width: 140px;
  height: 140px;
}
.About-t{
  font-family: 'Bellefair-Regular';
  margin-top: 15px;
    font-size: 13px;
}

/* .Get-in{
  background-color: white;
  width: 50%;
  text-align: center;
} */

.Get-In{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
.Get-In-h{
  font-family: Bellefair-Regular;
  color: #ffa705;
  font-size: 20px;
  margin-top: 105px;
}
.Get-In-text{
  font-family: FtraBk;
  font-size: 14px;
  color: #7a7a7a;
  margin: 10px 100px 10px
}
.Get-In-Ic{
  margin: 20px;
    width: 20px;
    height: 20px;
}
.Footer-h2{
  color: #FFA705;
    font-size: 16px;
    padding-top: 25px;
}

.Footer-I{
  max-width: 140px;
}

.rotated-border-wrapper {
  position: relative;
  display: inline-block;
}

.rotated-border {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  left: -3px;
  border: 0.5px solid white;
  transform-origin: bottom right;
  transform: rotate(45deg);
}

.content {
  position: relative;
  z-index: 1; /* Ensure content appears above rotated border */
  color: white;
  padding: 8px; /* Adjust padding as needed */
}

.Footer-EC{
  font-family: Lato;
  display: inline-block;
    vertical-align: baseline;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
.Footer-EC:not(:first-child)::before {
  content: ' ';
  display: inline-block;
  width: 0;
  height: .8em;
  margin: 0 3em;
  vertical-align: baseline;
  border-left: 1px dotted #ddd;}

  .Footer-FC{
    color: #fff;
    font-family: 'Lato';
    margin-right: 1em;
    opacity: 0.5;
    text-align: center;
  }
.Footer-bo{
  border-top-width: 1px;
    border-top-style: solid;
    border-color: #000;
    margin-top: 15px;
    font-family: 'FtraBk';
    font-size: 16px;
}



.swiper {
  width: 94%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.S-head{
  font-family: 'Bellefair-Regular';
  font-size: 24px;
  font-weight: 600;
  color: #ffa705;
}
.S-Para{
  color: #7a7a7a;
  font-size: 15px;
}